<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Link to Bootstrap CSS -->
<!--    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css'%}">-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% include 'navigation_bar.html' %}
<img src="{% static 'images/start.png' %}"> Today Quotes</img>
{% block content %}

{% endblock %}


    <div class="container lg-5">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to My Website</h1>
            <p class="lead">A simple and responsive home page created using Bootstrap.</p>
            <hr class="my-4">
            <p>Learn more about us and our services.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>

    <!-- Link to Bootstrap JS and jQuery (required for Bootstrap functionality) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
